* {
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Century Gothic';
    color: #000000;
}

body {
    margin: 0;
}

h2 {
    padding-left: 20px;
    padding-top: 15px;
}

.container {
    margin-top: 0%;
}

.wrapper {
    width: 80%;
    margin:auto;
}

.header {
    background-color: #524E4E;
    color: #ffffff;
    width: 80%;
    height: 60px;
    margin: auto;
    font-size: 20px;
}

.body-head {
    text-align: center;
}

.body-head h1 {
    color: #fdb813;
    
    
}

.tagline {
    font-size: 1.3rem;
    padding-top: 0.6rem;
}

.input-container {
    width: 75%;
    margin: auto;
    align-content: center;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
}


 
.input-container input {
    padding: 0.8rem;
    background-color: rgb(238, 234, 234);
    border: 0px;
    text-align: center;
}

.input-container .full {
    grid-column: 1 / 5;
    margin-left: 30%;
}



.js-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
}

.js-grid input {
    padding: 0.8rem;
    background-color: #C4C4C4;
    border: 0px;
}
.box-1 {
    text-align: center;
}

.box-2 {
    text-align: center;
}

.box-3 {
    text-align: center;
}

.label {
    font-size: 1.6rem;
}

.box-4 {
    padding-top: 20px;
    margin-top: 15px;
    align-content: center;
}

.box-4 a {
    color: #524E4E;
}

.box-4 a:hover {
    color: #C4C4C4;
}

.box-5 a {
    color: #524E4E;
}

.box-5 a:hover {
    color: #C4C4C4;
}

.compiler {
    background-color: rgb(238, 234, 234);
    padding: 60px;
    text-align: center;
    width: 30%;
    height: 80px;
    margin: auto;
    
}


.calculate {
    color: #000000;
    background-color: #fdb813;
    font-size: 25px;
    border: none;
    margin-left: 29.5%;
    padding: 5px 170px;
    display: inline-block;
    
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
  
  }

  .footer {
    background-color: #524E4E;
    color: #ffffff;
    width: 80%;
    height: 60px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
  }

  @media (max-width: 700px) {
    .input-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:20px;
    }

    .box-4 {
        padding-top: 10px;
        margin-top: 10px;
        align-content: center;
    }

    .calculate {
        color: #000000;
        background-color: #fdb813;
        font-size: 25px;
        border: none;
        margin-left: 20%;
        padding: 5px 80px;
        display: inline-block;
        
    }
    
  }

  @media (max-width: 500px) {
    .input-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:20px;
    }

    .box-4 {
        padding-top: 10px;
        margin-top: 10px;
        align-content: center;
    }

    .calculate {
        color: #000000;
        background-color: #fdb813;
        font-size: 25px;
        border: none;
        margin-left: 20%;
        padding: 5px 65px;
        display: inline-block;
        
    }
    
  }