@import url('https://fonts.googleapis.com/css?family=Century+Gothic:400,700&display=swap');
body{
	background: #e5e5e5;
	align-content: center;
	max-width: 1000;
	text-align: center;
	background-size: cover;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
	justify-content: center;
	align-content: center;
 	align-self: center;
 	margin-left: auto;
	margin-right: auto;
	font: 13px/20px "Century Gothic", Tahoma, Verdana, sans-serif;
}

input, label {
	display:block;
}

.logo{
	background: rgba(0, 0, 0, 0.801);
	align-content: center;
	text-align: left;
	font-size: 40px;
	font-weight: bold;
	color: white;
	max-width: 100%;
	padding: 25px;
}

.intro{
	margin-left: 17%;
	text-align: center;
	color: black;
	font-size: 25px;
	padding: 5px;
	max-width: 70%;
	line-height: 1.3;
}
.output{
	position: relative;
	background: lightgray;
	text-align: center;
	align-content: center;
  	margin: 40px auto;
  	padding: 2% 2% 2% 2%;
	max-width: 40%;
	width: 35%;
  	border-radius: 2px;
}
.calculate{
	background-color: rgba(187, 21, 21, 0.7);
  	border: 1px solid rgba(0, 0, 0, 0.712);
  	border-radius: 5px;
  	color: rgba(0, 0, 0, );
  	margin: 5px;
  	padding: 0 10px;
	max-width: 40%;
	width: 30%;
	height: 20%;
  	max-height: 40%;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 24px;
}
input[type=text]{
	max-width: 100%;
	height: 10%;
	max-height: 12%;
	color: #000000;
	background: lightgray;
	border-radius: 5px;
	font-size: 14px;
	}
#moreButton{
	
  	border: 1px solid rgba(0, 0, 0, 0.712);
  	border-radius: 5px;
  	color: rgba(0, 0, 0, );
  	margin-left: 5px;
  	max-width: 30px;
  	max-height: 30px;
  	text-align: center;
  	font-weight: bold;
  	font-size: 15px;
}
.box1{
	float:left;
	margin-left:21%;
}
.box2{
	float:left;
	margin-left:13%;
}
.box3{
	float:left; 
	margin-left:13%
}